* {
    box-sizing: border-box;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 1.5;
}

:root {
    --lightest-grey: hsl(0, 0%, 98%);
    --lighter-grey: hsl(0, 0%, 95%);
    --light-grey: hsl(0, 0%, 90%);
    --dark-grey: hsl(0, 0%, 65%);
}

h1 {
    /* For me in Firefox: default 32px = 2rem */
    font-size: 1.75rem;
}

h2 {
    /*  For me in Firefox: computed default for h2 is 24px.
        32/24 = 0.75
        0.75 * 2rem = 1.5rem
        (And yes, manually setting 1.5rem gives 24px.)
        I arbitrarily reduced h1 to 1.75rem, and
        1.75 / 2 = 0.875
        0.875 * 1.5rem = 1.3125rem
        (This gives h2 a size of 21px, and 21/28 = 0.75, so the ratio between h1 and h2
        is maintained)
    */
    font-size: 1.3125rem;
}

#everything {
    margin: 0 auto;
    max-width: 42rem;
}

input {
    margin-left: 0.5rem;
}

img {
    margin-right: 0.5rem;
    max-width: 8rem;
}

.stack > * + * {
    margin-top: 3.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

details {
    background-color: var(--lighter-grey);
    border-radius: 0.25rem;
    filter: drop-shadow(0 0.25rem 0.25rem var(--dark-grey));
    padding: 0.5rem;
}

summary {
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem;
    user-select: none;
}

/* summary:hover {
    background-color: var(--light-grey);
} */

summary > h2 {
    display: inline-block;
    margin-top: 0;
}

details > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stars > details > ul > li {
    display: inline-block;
    margin-right: 0.75rem;
}

/* .chart-container {
    margin-bottom: 1rem;
} */

/* li > em {
    color:hsl(0, 0%, 30%);
    font-size: 0.85rem;
    font-weight: bold;
} */

.legend-container h3 {
    font-weight: 400;
    margin-top: 0;
}

table {
    border-spacing: 0;
}

td {
    padding: 0.25rem 0.5rem;
}

tr:nth-child(2n) {
    background-color: var(--light-grey);
}

/* table > * + * > td {
    border-top: 1px solid red;
} */

footer {
    border-top: 1px solid var(--light-grey);
    margin-top: 3.5rem;
    padding-top: 1rem;
}

.error-reason {
    background-color: hsl(0, 75%, 97%);
    border: 1px solid hsl(0, 75%, 75%);
    padding: 1rem;
}

tr:hover > td, .table-row-highlight > td {
    background-color: lightsalmon;
}
